.root {
    border-color: var(--mantine-color-whitesmoke-0);
}

@media (prefers-color-scheme: dark) {
    .root {
        border-color: var(--mantine-color-whitesmoke-7);
    }
}

.borderedCard {
    border-width: medium;
}